@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

input,
select {
  font-family: "PT Sans", sans-serif;
}

.NoUnderline {
  text-decoration: none;
}

.Flex {
  display: flex;
}

.FlexColumn {
  display: flex;
  flex-direction: column;
}

.FormFieldContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
